@media screen and (max-width:991px){
    #header nav ul {
        position: absolute;
        display: none;
        top: 80px;
        background: $colorBlack;

    }
    #header nav .mobile-menu i {
        display: block;
    }
}